p {
  font-family: Roboto;
  font-size: 14px;
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.video-stat {
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.video-author {
  color: rgb(96, 96, 96);
  margin-top: 0;
}

.video-description {
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 21px;
  margin-bottom: 100px;
}

.text {
  margin-bottom: 50px;
  background-color: rgb(227, 65, 64);
  color: rgb(255, 255, 255);
  line-height: 21px;
  padding: 16px;
}

.text-link {
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}
