.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  margin-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(207, 207, 207);
}

.sidebar-link img {
  height: 24px;
}

.sidebar-link div {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin-top: 5px;
}
